# dependencies
node_modules

# build output
dist
dist-ssr

# env files
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# Vercel
.vercel

# editor / OS
.DS_Store
Thumbs.db
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
